<!DOCTYPE html>
<html>
<head>
    <title>Virtucon Core UI | Style Guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="//use.typekit.net/poh0yoj.js"></script>
    <script>try {
        Typekit.load();
    } catch( e ) {
    }</script>
    <link rel="stylesheet" href="css/styles.min.css"/>
    <!-- Syntax highlighting -->
    <script src="../node_modules/highlight.js/lib/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

<section class="hero">
    <div class="content">
        <div class="header">
            <h1>Virtucon Core UI</h1>

            <p>Browse styles below and copy code for UI elements and components to use in your pages.</p>

            <p>version {{ version }}, build {{ build }}</p>
        </div>
    </div>
</section>

{{ content }}

</body>
</html>
