<section class="element">
    <div class="header">
        <h2>{{ name }}</h2>

        <p>{{ description }}</p>
    </div>


    <section>
        {% if state %}
        <label class="demo"><span>States</span></label>
        <ul>
            {% for s in state %}
            <li><code>{{ s.name }}</code> - {{ s.description }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <label class="demo"><span>Example</span></label>

        <div>
            {{ markup.example | safe }}
        </div>
        <label class="demo"><span>Usage</span></label>
<pre><code class="html">{{ markup.escaped }}</code></pre>
    </section>
</section>
